container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_seedmeds:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata meditations/seeds.json"
    leader_only: true
  03_seedusers:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata jwt_auth/seeds.json"
    leader_only: true
  04_seedarticles:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata articles/seeds.json"
    leader_only: true
  05_seedcomments:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata comments/seeds.json"
    leader_only: true
  06_seednotes:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py loaddata notes/seeds.json"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: sway.settings